* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "SamsungOne", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;


}

.body_show {
    overflow: hidden;
}

html {
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}



.logo {
    height: 5rem;
    padding: 0rem;
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 0px 60px;
    width: 100%;

}

.header-right {
    display: flex;

    flex-direction: column;
    gap: 1.2rem;
    font-size: 1rem;

}


.header-right-top {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: end;


}

.header-right-top button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-size: .9rem;
    font-weight: 600;
    padding-bottom: 2px;


}

.header-right-top>button:hover {
    color: #007aff;
    border-bottom: 1px solid #007aff;

}

.fa-arrow-up {
    transform: rotate(45deg);
}

.header-right-bottom {
    top: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

}



.header-right li:hover {
    border-bottom: 1px solid #007aff;
    color: #007aff;
}

.search-bar {

    padding: 11px 8px;
    width: 9rem;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    border: 2px solid transparent;



}

.search-bar:hover {
    box-shadow: 2px 2px 10px gray;
    border: 2px dotted black;
}

.search-bar:focus {
    box-shadow: 2px 2px 10px gray;
    border: 2px dotted black;

}


.header-right-bottom div:nth-child(2) {
    display: flex;
    gap: 1rem;
}

[type="text"] {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 5rem;

}

.header-left {
    display: flex;
    align-items: center;

    gap: 1.2rem;
    font-weight: 600;


}




.header-left li {
    padding-bottom: 1rem;
    border-bottom: 3px solid transparent;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

.header-left>li:hover {
    color: #007aff;
    border-bottom: 3px solid #007aff;
    transition: .3s ease;

}

.header-left li:first-child {
    padding: 0rem;
    border-bottom: 0px solid transparent;
}

.shop-items {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 0rem;
    width: 100%;
    position: absolute;
    top: 6.5rem;
    left: 0rem;

    overflow: hidden;
    display: flex;

    z-index: 4;
    background-color: #f1f2f2;


}

.mobile-items {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f1f2f2;
    height: 0rem;

    width: 100%;
    position: absolute;
    top: 6.5rem;
    left: 0rem;
    z-index: 4;


    overflow: hidden;
    display: flex;


}

.products {
    display: flex;
    color: black;
    gap: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.mobile:hover .mobile-items {
    height: 28rem;
    transition: .5s ease-in;


}


.shop:hover .shop-items {
    height: 28rem;
    transition: .5s ease-in-out;
}

/* .product-card */


.product-container {

    width: 100%;
    margin: 3rem 1rem;
    display: flex;



}

.product-container-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;


    /* background-color: #08d3d3; */
}




.divider {
    border: .5px solid rgb(212, 212, 212);
}

.product-container img {
    transition: 1s ease;
}


.product-card img:hover {


    transform: scale(1.2);
}

.product-card-name {
    color: black;
}




.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    position: relative;


}

.product-name {
    font-size: .8rem;
    color: black;
    text-decoration: none;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




.new {
    color: #007aff;
    position: absolute;
    font-size: .7rem;
    top: -1rem;
    left: -1rem;
    font-weight: 700;
}


/* container-right */
.product-container-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;


    margin-left: 2rem;
}


/* services card */
.services {
    margin-left: 32px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: center;

}

.services-card {
    display: flex;


    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 5px;
    width: 10rem;
    height: 4rem;
    gap: .5rem;
    border-radius: 5px;

}

.services-card img {
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.services-card p {
    color: black;
    font-size: .9rem;
    font-weight: 600;
}

/*  mobile-header */


.mobile-header {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
    padding: 0px;
    display: none;
    position: relative;


}

.mobile-header img {
    height: 3rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

/* accordian in mobile header*/

.accordion {

    height: 1.5rem;

    overflow: hidden;
    transition: .5s ease;
}

.show {
    height: 3rem;

}



/* hero section */

.hero {

    width: 100vw;

    display: flex;


    position: relative;

    /* background-image: url(images/hero-image.jpg);
    background-position: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover; */
}

.hero video {
    width: 100%;
    height: 100%;

}

.hero_content {

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 100%;
    background-color: #c3c2c200;
    top: 0rem;
    right: 18vw;
    z-index: 2;
    overflow: hidden;



}






.buttons button {
    font-size: 1rem;
    padding: .5rem;
    z-index: 2;

}

.buttons button:nth-child(1) {
    background: transparent;
    border: none;
}

.buttons button:nth-child(2) {
    background-color: white;
    color: black;

    border-radius: 40px;
    width: 4rem;

}

.buttons button:nth-child(2):hover {
    background-color: black;
    color: white;
}



.content button:nth-child(1) {
    background: none;
    border: none;

    padding-bottom: .2rem;
    position: relative;
    overflow: hidden;

}




.button_border {
    height: .2vw;
    margin-left: 1vw;
    width: 7vw;
    background-color: black;
    translate: -9vw;
    transition: 1s;

}

.content button:nth-child(1):hover .button_border {
    translate: 0rem;
}

.content button:nth-child(2) {
    background-color: black;
    color: white;
    border-radius: 2rem;


}

/* stomer-care-section */
.customer-care {
    height: 5rem;
    width: 5rem;
    position: fixed;
    right: 1rem;
    top: 30rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-care-background {

    background-color: rgb(6, 178, 6);
    animation: glow 3s linear infinite;
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 1;


    border-radius: 50%;

}






.customer-care img {
    position: absolute;
    z-index: 2;
    top: 0rem;
    right: 0rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(6, 178, 6);
    background-color: white;
    border-radius: 50%;
}

@keyframes glow {
    100% {
        transform: scale(2);
        opacity: .2;

    }
}








/* pop-up */
.pop_up {
    background-color: rgba(165, 161, 161, 0.442);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0rem;
    width: 100vw;
    z-index: 1;
    display: none;

}

.pop_up_content {
    position: relative;
    transition: 1s;
    width: 20rem;
    height: 30rem;

}

.pop_up_content img {
    width: 100%;
    height: 100%;

}

.pop_up_show {
    display: flex;


}

.pop_up button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    background-color: transparent;
    border: 1px solid transparent;
    padding: .2rem;
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
    top: -2rem;
    right: -2rem;
    animation: .3s;
}

.pop_up button:hover {
    color: #007aff;
}

.pop_up button:active {
    color: beige;
}

.product_section_second {
    display: flex;
    gap: .5rem;
    height: 18vw;
    overflow: scroll
}




/* footer */


footer {


    width: 100vw;

    background-color: #fcffff;



}




.footer-top {

    background-color: #f7f7f7;

    font-size: 1rem;
    padding: 1rem 2rem;
}

.footer-mid {

    display: grid;
    grid-template-columns: 1r 1fr 1fr 1fr 1fr;

    font-size: .972222vw;
    border-top: 1px solid #c3c2c2;
    border-bottom: 1px solid #c3c2c2;



}

.footer-mid>li:nth-child(1) {
    grid-column: 1/2;

}

.footer-mid>li:nth-child(2) {
    grid-column: 2/3;

}

.footer-mid>li:nth-child(3) {
    grid-column: 3/4;

}

.footer-mid>li:nth-child(4) {
    grid-column: 4/5;

}

.footer-mid>li:nth-child(5) {
    grid-column: 5/6;

}

.footer-mid a:hover {
    color: blue;
    text-decoration: underline;
}

.footer-mid ul {
    padding: 0px;
}

.footer-mid a {
    text-decoration: none;
    color: black;
}

.footer-mid>li {
    display: flex;

    border-right: 2px solid #c3c2c2;

    /* border-top: 1px solid #c3c2c2; */
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px;





}

.footer-mid>li>ul {


    font-size: .8rem;





}

.footer-mid>li>ul>li {
    padding: 10px 2px;
    font-weight: 400;

}

.footer-mid strong {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Faq Section */
.FAQs {
    display: none;
    padding: 2vw;
    transition: 1s;
    height: fit-content;
    z-index: 1;

}

.question {
    font-weight: 500;
    height: 3rem;
    overflow: hidden;
    margin-top: 1vh;
    font-size: 1rem;
    padding: 0.2vw;





}


.faq_Solution {
    height: 0rem;






}

.faqshow {
    transition: 1s;
    display: block;
    margin-bottom: 1vh;
    height: 200vw;



}

.FAQs ul {
    padding-left: 0px;
    padding: .01;
}

.FAQs li {
    font-size: 8vw;
    padding: 3vw 2vw;
    font-weight: 300;
}

.copyright_section {
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    padding: 1rem 2rem;

}

.copyright_section a:hover {
    text-decoration: underline;
    color: blue;

}

.footer_bottom {


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.footer_bottom_left {
    display: flex;
    gap: 1vw;
    font-size: 1rem;
}

.social-links {
    font-size: 1rem;
    display: flex;
    gap: 1vw;


}

.product-section {
    width: 100%;
    height: 20vw;
    display: flex;


    gap: .5rem;
    overflow: scroll;
    margin-bottom: .5rem;


}

.product-section::-webkit-scrollbar {
    width: 8px;
    /* vertical scrollbar thickness */
    height: 8px;
    /* horizontal scrollbar thickness */
}

.product-section::-webkit-scrollbar-thumb {
    background: #5d646c;
    /* thumb color */
    border-radius: 7px;
    /* rounded corners */
    border: 20px solid #3a3232;
    /* makes thumb slimmer by creating space */
}




.main-product-card {
    font-family: "SamsungOne", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;

    flex: 0 0 auto;
    width: 30rem;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;

    padding: 10px;
    font-size: 1.2rem;

    overflow: hidden;

}

.main-product-card img {
    margin-top: .5vw;
    height: 8vw;
    width: 8vw;
    transition: 1s;
    margin-top: 1vw;
}

.main-product-card button {
    background-color: black;
    color: white;
    padding: .5vw 1vw;
    border-radius: 2vw;
    font-size: 1vw;
    position: absolute;
    bottom: -4vw;
    z-index: 2;
    transition: .5s;
    /* opacity: 0; */

}

.main-product-card>h4 {
    font-size: 1.4vw;
    font-weight: 700;
}

.main-product-card:hover button {
    bottom: .7vw;

}

.main-product-card:hover img {
    transform: scale(1.04)
}

.areahidden {
    font-size: clamp(0.5rem, 0.375rem + 200vw, 1rem);
    width: 50vw;
    display: flex;
    top: 0rem;
    right: -120rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 5;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .5s ease;
    overflow: scroll;



}

.area-hidden-top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: .7rem;
    width: 100%;

}


.search-section {
    width: 80%;
    border: 1px dotted black;
    background-color: #f9f7f7;
    border-radius: 30px;
    padding: 1px 8px;


}


.area-hidden-top input {
    padding: 5px 10px;

}

.area-hidden-top .fa-x {
    font-size: .8rem;
}

.search-section {


    border: 1px dotted black;
    background-color: #f9f7f7;
    border-radius: 30px;
    padding: 1px 8px;


}

.search-section .fa-magnifying-glass {
    font-size: small;
}

.areahidden .product-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-wrap: wrap;
}

.areahidden .product-card {
    width: 40%;
}

.areahidden>h2 {
    font-size: 1rem;
    margin: 20px 0px;
}

.accordion>p {
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.areahidden .accordion>b {
    margin: 10px 0px;

}

.accordion {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px;
    font-family: "SamsungOne", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;
}

.shop-menu-card {
    width: 100%;
    background-color: #e8f2ff;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 5px;

}

.shop-menu-card h2 {
    font-size: 1rem;
}

.shop-menu-card h2 p {
    font-size: .8rem;
    font-weight: 400;
    margin-top: 10px;
}

.areahidden .product-card h3 {
    color: black;
    text-decoration: none;
    font-size: 1rem;

}



.areashow {
    display: block;
    right: 0rem;

}

.overlay-hidden {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #100e0ec2;
    position: fixed;
    top: 0rem;




}

.overlay-show {
    display: block;
}


@media (max-width:1000px) {
    .header-right {
        display: none;
    }

    .header-left {
        display: none;
    }

    .mobile-header {
        display: flex;
    }



    @media(max-width:600px) {
        .areahidden {
            width: 100%;
        }

        .footer-mid {
            display: none;

        }

    }

    @media(max-width:400px) {
        .FAQs {
            display: block;
        }


    }




}