* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: "SamsungOne", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.hero_section{
    display: flex;
    justify-content:center ;
    align-items: center;
    /* width: fit-content; */
    margin: auto;
}
form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    padding: 3rem;
    font-size: 1rem;
    /* background-color: rgba(128, 128, 128, 0.358); */
    box-shadow: 4px 9px 32px gray;
    border-radius: 30px;
    margin: 1rem
}

form div {
    font-size: 1rem;
    display: flex;

    align-items: center;
    justify-content: end;
    color: #0658b7;

}

input {

    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: aliceblue;
    display: inline-block;
    width: 100%;




}

[ type="submit"] {
    background-color: #0658b7;
    color: white;
    border-radius: 40px;
}
[type="submit"]:active{
    transform: scale(.9995);
    background-color: #01356f;
}
#error{
    height: 1rem;
    

}
.invalid_email_hide, .invvalid_password_hide{
    color: red;
    display: none;


}



.invalid_email_show, .invalid_password_show{
    display: inline-block;
}

.valid_email_hide, .valid_password_hide {
    color: #0658b7;
    font-size: .9rem;
    display: none;

}
.valid_email_show {
    display: inline-block;
}

.input_box {
    width: 18rem;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* border: 2px solid rgba(128, 128, 128, 0.595); */
}
.forget_pass:hover{
    color: red;

}
footer{
    margin: 10rem 0rem 0rem 0rem;
}